@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* font-family: "Young Serif", serif; */

:root {
  --white: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 5rem;
  width: 45%;
  height: 90%;
  background-color: var(--white);
  border-radius: 1rem;
}

.recipe-container {
  width: 92%;
  margin: 4% 4%;
}

.img-container img {
  margin: 0.6rem 0rem;
  width: 100%;
  height: 2%;
  border-radius: 0.7rem;
}

#heading {
  margin-top: 1rem;
  font-family: "Young Serif", serif;
  color: var(--Stone-900);
}

.recipe-summary {
  margin: 1rem 0rem;
  width: 100%;
  line-height: 1.5;
  color: var(--Stone-600);
}

.preperation-container {
  width: 100%;
  background-color: var(--Rose-50);
  padding: 1.5rem;
  border-radius: 0.7rem;
}

#preperation-heading {
  color: var(--Rose-800);
}

.preperation-container ul {
  padding-left: 2rem;
  color: var(--Stone-900);
}

.preperation-container ul li {
  padding-top: 1rem;
  padding-left: 1rem;
}
.preperation-container ul li::marker {
  color: var(--Stone-900);
}
